
{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}Contacto | Florería Jazmín Chino{% endblock %}

{% block extra_head %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD6gpNjnw-vLkT_iP37hUCsigQqjAffhiU&callback=initMap" async defer></script>
{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  <link rel="stylesheet" href="{% static 'css/contacto.css' %}">
{% endblock %}

{% block content %}
    <!-- Contact Form -->
    <div class="form-container">
      <h2 class="label-custom">Contacto</h2>
      <form id="contactForm">
          <div class="mb-3">
              <label for="nombre" class="form-label label-custom">Nombre</label>
              <input type="text" class="form-control" id="nombre">
          </div>
          <div class="mb-3">
              <label for="apellido" class="form-label label-custom">Apellido</label>
              <input type="text" class="form-control" id="apellido">
          </div>
          <div class="mb-3">
              <label for="rut" class="form-label label-custom">RUT</label>
              <input type="text" class="form-control" id="rut">
          </div>
          <div class="mb-3">
              <label for="telefono" class="form-label label-custom">Teléfono</label>
              <input type="tel" class="form-control" id="telefono">
          </div>
          <div class="mb-3">
              <label for="email" class="form-label label-custom">E-mail</label>
              <input type="email" class="form-control" id="email">
          </div>
          <div class="mb-3">
              <label for="numeroBoleta" class="form-label label-custom">Número de boleta o factura</label>
              <input type="text" class="form-control" id="numeroBoleta">
          </div>
          <div class="mb-3">
              <label for="motivo" class="form-label label-custom">Motivo</label>
              <select class="form-select" id="motivo">
                  <option>Consulta</option>
                  <option>Solicitud</option>
                  <option>Reclamo</option>
              </select>
          </div>
          <div class="mb-3">
              <label for="comentarios" class="form-label label-custom">Comentarios</label>
              <textarea class="form-control" id="comentario" rows="3"></textarea>
          </div>
          <button type="submit" id="ax" class="btn btn-primary">Enviar</button>
      </form>
  </div>

  <script>
      $('#contactForm').submit(function(event) {
          var nombre = $('#nombre').val();
          var apellido = $('#apellido').val();
          var rut = $('#rut').val();
          var telefono = $('#telefono').val();
          var email = $('#email').val();
          var numeroBoleta = $('#numeroBoleta').val(); 
          var comentario = $('#comentario').val(); 
  
          if (!nombre || !apellido || !rut || !telefono || !email || !numeroBoleta || !comentario) {
              alert('Por favor, completa todos los campos.');
              event.preventDefault();
          }
      });
  </script>

  <!-- Google Maps -->
  <div id="map"></div>
  <script>
      function initMap() {
      const tienda = { lat: -33.0336799621582, lng: -71.53319549560547 };
      const map = new google.maps.Map(document.getElementById("map"), {
          zoom: 18,
          center: tienda,
      });
      const marker = new google.maps.Marker({
          position: tienda,
          map: map,
      });
      }
  </script>
{% endblock %}

<script src="{% static 'js/main.js' %}" defer></script>
