{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}Ramos | Florería Jazmín Chino{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/ramos.css' %}">
{% endblock %}

{% block content %}
    <!--CARDS-->
    <div class="container py-5">
        <h3 class="text-center">Ramos</h3>
        <div id="product-container" class="row row-cols-1 row-cols-md-3 g-4 py-5"></div>
    </div>

    <!--BOTON FLOTANTE :3-->
    <div class="container-btn">
        <div class="carrito">
            <a class="button" href="/carro">
                <i class="icon-cart fa fa-shopping-cart"></i>
            </a>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/ramos.js' %}" defer></script>
{% endblock %}
