
.navbar {
    background-color: #FFB3C6 !important;

}

.navbar-nav {
    align-items: center;
    justify-content: center;

}

.icons-bar-container {
    display: flex;
    align-items: center;
    justify-content: end;
}

.navbar-brand {
    color: #ffffff !important;
    font-size: 25px !important;
    font-weight: bold !important;
}

.navbar-brand:hover {
    color: #FB6F92 !important;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: #FB6F92 !important;
}

.navbar-expand-lg .navbar-nav .nav-link {
    color: #ffffff !important;
    font-size: 20px !important;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
    color: #FB6F92 !important;
}

.dropdown-item {
    color: #FB6F92 !important;
}

.dropdown-item:hover {
    color: #ffffff !important;
    background-color: #FB6F92 !important;
}

.logo {
    width: 50px;
    height: 50px;
}

.icon-bar {
    color: #FB6F92 !important;
    font-size: 30px !important;
    margin-right: 10px;
}

.icon-bar:hover {
    color: #ffffff !important;
}

/*CARDS*/

.text-center {
    color: #FB6F92;
    text-decoration: underline;
}

#cartList{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row !important;
}

.card {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2% !important;
    border-radius: 30px !important;
    background-color: #FFB3C6 !important;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    transition: all 400ms ease;
}

.card-body {
    display: flex;
    direction: row;
    justify-content: center;
    align-items: center;
}

.card:hover {
    background-color: #FB6F92;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0700em 0.0700em, rgba(0, 0, 0, 0.25) 0px 0.5em 2rem, rgba(255, 255, 255, 0.1) 0px 1px 3px 6px inset;
}

.card-title {
    color: #FB6F92 !important;
    font-weight: bold;
    text-decoration: none !important;
}

.img-fluid {
    border-radius: 50px;
    padding: 20px;
}

h3 {
    color: #FB6F92 !important;
}

.btn {
    background-color: #FB6F92 !important;
    color: #ffffff !important;
    font-weight: bold !important;
    font-size: large !important;
    padding: 10px 10px !important;
    border-color: #FFB3C6 !important;
    display: flex;
}

.btn-primary {
    border-radius: 50px !important;
    width: 50px !important;
}

.btn-primary:hover {
    background-color: black !important;
}

/*FORMULARIO  MENSAJE DE REGALO*/

.container-cuadroRosa {
    background-color: #FFB3C6;
    border-radius: 30px !important;
    display: flex;
}

.form-check-input {
    color: #FB6F92;
}

.form-control-label {
    color: #FB6F92;
    font-weight: bold;
}

.form-control {
    width: fit-content;
}

h5 {
    padding: 2% 2% 2% 2%;
    color: #FB6F92;
}

/*CUADRO TOTAL*/

.container-cuadroPago {
    background-color: #FFB3C6;
    border-radius: 30px;
}

.container {
    justify-content: center;
    align-items: center;
}

.container-tipoDoc {
    color: #ffffff;
}

h3 {
    padding: 2% 2% 2% 2%;
    color: black;
    font-weight: bolder;
    align-items: center !important;
    justify-content: center !important;
}

.btn-group {
    color: #ffffff !important;
    font-weight: bold !important;
    font-size: large !important;
    padding: 10px 10px !important;
    border-color: #FFB3C6 !important;
    display: flex;
    direction: row;
    justify-content: space-between;
}

.btn-primary {
    border-radius: 20px !important;
    width: 35px !important;
}

.btn-pago {
    border-radius: 20px !important;
    width: 120px !important;
    justify-content: center !important;

}

.btn-primary:hover {
    background-color: black !important;
}

.container-tipoDoc {
    color: #ffffff;
}

.container-tipoPago {
    color: #ffffff;
}

.badge {
    background-color: #FB6F92 !important;
    color: #ffffff !important;
    font-weight: bold !important;
    font-size: 15px !important;
    text-align: center !important;
    line-height: 2.5 !important;
    margin: 5px !important;
}

.is-gift {
    padding: 5%;
}

.gift-form {
    justify-content: center;
    align-items: center;
    padding: 5%;
}