body {
    font-family: 'Franklin Gothic Medium', 'Arial', sans-serif;
    background-color: #FFE5EC !important;
}

.navbar {
    background-color: #FFB3C6 !important;
    
}

.navbar-nav {
    align-items: center;
    justify-content: center;
    
}

.icons-bar-container {
    display: flex;
    align-items: center;
    justify-content: end;
}

.navbar-brand {
    color: #ffffff !important;
    font-size: 25px !important;
    font-weight: bold !important;
}

.navbar-brand:hover {
    color: #FB6F92 !important;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: #FB6F92 !important;
}

.navbar-expand-lg .navbar-nav .nav-link {
    color: #ffffff !important;
    font-size: 20px !important;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
    color: #FB6F92 !important;
}

.dropdown-item {
    color: #FB6F92 !important;
}

.dropdown-item:hover {
    color: #ffffff !important;
    background-color: #FB6F92 !important;
}

.logo {
    width: 50px;
    height: 50px;
}

.icon-bar {
    color: #FB6F92 !important;
    font-size: 30px !important;
    margin-right: 10px;
}

.icon-bar:hover {
    color: #ffffff !important;
}

h3 {
    color: #FB6F92 !important;
}


/*FORMULARIO  MENSAJE DE REGALO*/
.container-cuadroRosa{
    width: 50%;
    background-color: #FFB3C6;
    margin-left: 15% !important;
    border-radius: 30px !important;
    display: flex;
}

.form-check-input{
    color: #FB6F92;
    contain: content !important;
}

.form-control-label{
    color: #FB6F92;
    font-weight: bold;
}

.form-control{
    width: fit-content;
}

h5{
    padding: 2% 2% 2% 2%;
    color: #FB6F92;
}


/*CUADRO TOTAL*/

.imagenCarrito{
    width: 250px;
    height: 200px;
    border-radius: 30px;
}

.container-2columnas{
    padding-top: 5%;
    display: flex !important;
}

.cuadroPago{
    background-color: #FFB3C6;
    display: flex;
    height: 600px;
    width: 300px;
    align-items: center !important;
    justify-content:center !important;
}

.containerReg{
    height: 80%;
}

.fotosCarrito{
    height: 50%;
}
