

body {
    font-family: 'Franklin Gothic Medium', 'Arial', sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

body.light-mode {
    background-color: #FFE5EC;
    color: #61434B;
}

body.dark-mode {
    background-color: #61434B;
    color: #FFE5EC;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-right: 10px; /* Ajusta este valor para separar el switch de los otros elementos */
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FFE5EC;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #FFB3C6;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #61434B;
}

input:checked + .slider:before {
    transform: translateX(26px);
}