
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.btn-custom {
    background-color: #61434B; /* Color del botón */
    border: 1px solid #61434B;
    color: white;
    padding: 10px 20px;
    cursor: pointer; /* Cambia el cursor a una mano */
    transition: background-color 0.3s ease; /* Añade una transición suave */
}

.btn-custom:hover {
    background-color: #61434B; /* Color del botón al pasar el ratón por encima */
    border-color: #61434B;
}